# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Media and 3D Assets
*.glb
*.gltf
*.bin
*.mp4
*.webm
*.avi
*.mov
*.png
*.jpg
*.jpeg
*.gif
public/models/
